{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>ForLove ❤️</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>
    

    <nav>

    <a href="/">Home</a>

    <a href="/story/">Our Story</a>

    <a href="/gallery/">Gallery</a>

    <a href="/reasons/">Why I Love You</a>

    <a href="/secret/">Secret ❤️</a>

</nav>

<div class="hero">

    <div class="hero-content">

    <h1>ForLove ❤️</h1>

    <p>
        Every moment with you is my favorite memory.
    </p>

    <a href="/story/">
    <button>
        Our Story ❤️
    </button>
</a>
    </a>
</div>
</div>

</body>
</html>