{% extends 'love/base.html' %}

{% block content %}

<div class="page fade-in">

    <h1>Our Story ❤️</h1>

    <div class="timeline">

       <a href="/first-chat/" class="card-link">
    <div class="card">
        <h2>❤️ First Chat</h2>
        <p>The day everything started.</p>
    </div>
</a>

<a href="/first-call/" class="card-link">
    <div class="card">
        <h2>📞 First Call</h2>
        <p>Hours felt like minutes.</p>
    </div>
</a>

<a href="/first-date/" class="card-link">
    <div class="card">
        <h2>🌹 First Date</h2>
        <p>A day I'll never forget.</p>
    </div>
</a>

<a href="/favorite-memory/" class="card-link">
    <div class="card">
        <h2>✨ Favorite Memory</h2>
        <p>One of my favorite moments with you.</p>
    </div>
</a>

    </div>

</div>

{% endblock %}